        <script src="/jquery.js"></script>
        <script src="/semantic/dist/semantic.js"></script>
        <script src="/js/notes.js"></script>
        <script src="js/header.js"></script>
    </body>
</html>