<!DOCTYPE html>
<html>
    <head>
        <title>EJS app</title>
        <script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous">
        </script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/app.css" />
        
        <style>
            .note {
                border: 1px solid black;
                width: 250px;
                margin: 25;
                padding: 25px;
                margin 25 auto;
            }
        </style>
        
        <script>
            $(document).ready(() => {
                
                //update note
                $(".update_button").click(function () {
                    let id = $(this).parent().attr("id");
                    let title = $("#" + id + " .note-title").val();
                    let content = $("#" + id + " .note-content").val();
                    console.log(title, content);
                    $.ajax({
                        url: "/notes",
                        method: 'POST',
                        data: {id, title, content}
                    });
                });  
                
                //delete note
                $(".delete_button").click(function () {
                    let id = $(this).parent().attr("id");
                    $.ajax({
                        url: "/notes/delete",
                        method: 'POST',
                        data: {"id": id},
                        success: function() {
                            $("#" + id).hide();
                        }
                    });
                });   
                
                
            });
        </script>
    </head>
    <body>
    <h1>My Notes</h1>