<form id="add-note-modal" class="ui modal form" method="POST" action="/notes">
        <div class="header">
            <input class="ui input" type="text" name="title" placeholder="title">
        </div>    
        <div class="content">
            <textarea name="content" row="2"></textarea>
        </div>
        <div class="actions">
            <input type="submit" class="ui approve button" />
        </div>
</form>
