<% include partials/header %>
<div class="ui container">
    <% if (typeof notes == 'object' && notes) { %>
        <div class="ui grid">
            <% notes.forEach((note) => {  %>
                    <div class="note" id="<%=note.id%>">
                        <div class="ui card">
                            <div class="content">
                                <div class="header"><%=note.title %></div>
                            </div>
                            <div class="content">
                                <%= note.content %>
                            </div>
                        </div>
                        <% include partials/update-note-modal %>
                    </div>
            <% }); %>
        </div>    
    <% }; %>   
</div>

<% include partials/new-note-modal %>
<button id="add-note-icon" class="ui circular icon button">
  <i class="big sticky note outline icon"></i>
</button>

 
<% include partials/footer %>